{% extends 'include/homepage.html' %}
{%load static%}
{%block content%}
<!-- /.preloader -->
<div class="page-wrapper">
    {% include 'include/header.html' %}


    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->


    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__top">
            <div class="page-header-bg" style="background-image: url({{ destination_id.image.url }})">
            </div>
            <div class="page-header-bg-overly"></div>
            <div class="container">
                <div class="page-header__top-inner">
                    <h2 >{{ destination_id.title }}</h2>
                </div>
            </div>
        </div>
        <div class="page-header__bottom">
            <div class="container">
                <div class="page-header__bottom-inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><span>.</span></li>
                        <li class="active">Наши направление</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Page Header End-->

    <!--Destinations Details Start-->
    <section class="destinations-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="destinations-details__left">
                        <div class="destinations-details__img">
                            <img src="{{ destination_id.image.url }}" alt="">
                        </div>
                        <div class="destinations-details__discover">
                            <h3 class="destinations-details__title">{{ destination_id.title }}</h3>
                            <p class="destinations-details__discover-text-1">{{ destination_details.descriptions|safe }}</p>
                        </div>
                        <div class="destinations-details__overview">
                            <h3 class="destinations-details__title">Overview</h3>
                            <ul class="list-unstyled destinations-details__overview-list">
                                <li>
                                    <div class="destinations-details__overview-left">
                                        <p>Country</p>
                                    </div>
                                    <div class="destinations-details__overview-right">
                                        <p>Americas</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="destinations-details__overview-left">
                                        <p>Visa Requirements</p>
                                    </div>
                                    <div class="destinations-details__overview-right">
                                        <p>Personal Documents Requied</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="destinations-details__overview-left">
                                        <p>Languages Spoken</p>
                                    </div>
                                    <div class="destinations-details__overview-right">
                                        <p>English</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="destinations-details__overview-left">
                                        <p>Currency Used</p>
                                    </div>
                                    <div class="destinations-details__overview-right">
                                        <p>USD</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="destinations-details__overview-left">
                                        <p>Area (km2)</p>
                                    </div>
                                    <div class="destinations-details__overview-right">
                                        <p>88.000 km2</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="destinations-details__faq">
                            <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                <div class="accrodion active">
                                    <div class="accrodion-title">
                                        <h4>Why are your Tours so Expensive?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion">
                                    <div class="accrodion-title">
                                        <h4>Why are your Tours so Expensive?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam.</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                                <div class="accrodion last-chiled">
                                    <div class="accrodion-title">
                                        <h4>Why are your Tours so Expensive?</h4>
                                    </div>
                                    <div class="accrodion-content">
                                        <div class="inner">
                                            <p>There are many variations of passages of available but majority have
                                                alteration in some by inject humour or random words. Lorem ipsum dolor
                                                sit amet, error insolens reprimique no quo, ea pri verterem phaedr vel
                                                ea iisque aliquam..</p>
                                        </div><!-- /.inner -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="destinations-details__right">
                        <div class="tour-details-two__last-minute tour-details-two__last-minute-2">
                            <h3 class="tour-details-two__sidebar-title">Last Minute</h3>
                            <ul class="tour-details-two__last-minute-list list-unstyled">
                                <li>
                                    <div class="tour-details-two__last-minute-image">
                                        <img src="{% static 'assets/images/resources/td-img-1.jpg' %}" alt="">
                                    </div>
                                    <div class="tour-details-two__last-minute-content">
                                        <h6>$380</h6>
                                        <h5>Africa 2 Days Tour</h5>
                                        <p>Los Angeles</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tour-details-two__last-minute-image">
                                        <img src="{% static 'assets/images/resources/td-img-2.jpg' %}" alt="">
                                    </div>
                                    <div class="tour-details-two__last-minute-content">
                                        <h6>$380</h6>
                                        <h5>Africa 2 Days Tour</h5>
                                        <p>Los Angeles</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tour-details-two__last-minute-image">
                                        <img src="{% static 'assets/images/resources/td-img-3.jpg' %}" alt="">
                                    </div>
                                    <div class="tour-details-two__last-minute-content">
                                        <h6>$380</h6>
                                        <h5>Africa 2 Days Tour</h5>
                                        <p>Los Angeles</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="destinations-details__discount">
                            <img src="{% static 'assets/images/resources/destinations-details__discount-img.jpg' %}" alt="">
                            <div class="destinations-details__discount-content">
                                <h2>30%</h2>
                                <h4>Discount on Spain <br> Tours</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/footer.html' %}
</div>
{% endblock %}